<main>
  <header>
      <noscript>
          <h1 class="logo">Pete van Wesep, Engineering Leader</h1>
      </noscript>
      <h1 class="logo"></h1>
  </header>
  <div id='copy-container'></div>
</main>
