<main>
  <header>
      <noscript>
          <h1 class="logo">Peter van Wesep, Full Stack Engineer</h1>
      </noscript>
      <h1 class="logo"></h1>
  </header>
  <div id='copy-container'></div>
</main>
