// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hidden {
  display: none;
}

.content {
  margin-top: 3.4rem;
  padding-bottom: 3.4rem;
  -webkit-transform: translate3D(0, 3rem, 0);
  -ms-transform: translate3D(0, 3rem, 0);
  transform: translate3D(0, 3rem, 0);
  opacity: 0;
  &.active {
    -webkit-transition: -webkit-transform 1000ms ease-out, opacity 1000ms ease-out;
    transition: transform 1000ms ease-out, opacity 1000ms ease-out;
    -webkit-transform: translate3D(0, 0, 0);
    -ms-transform: translate3D(0, 0, 0);
    transform: translate3D(0, 0, 0);
    opacity: 1;
  }
}

.resume {
  &.content {
    h1 {
      padding-top: 20px;
    }

    ul {
      margin-top: 7px;
    }

    p {
      line-height: 1.2em;
      padding-left: 20px;
      padding-top: 0.5em;
      white-space: pre-line;
    }

    &.work {
      p {
        line-height: 1.5em;
      }
    }
  }
}

.logo {
  display: inline-block;
  position: relative;
  height: 2.8rem;
  padding-right: 0.4rem;
  line-height: inherit;
  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    right: 0;
    bottom: 3px;
    width: 1px;
    background: red;
    -webkit-animation: cursor 1s infinite;
    animation: cursor 1s infinite;
  }
}

@-webkit-keyframes cursor {
  from,
    to {
    background: red;
  }

  50% {
    background: transparent;
  }
}


@keyframes cursor {
  from,
    to {
    background: red;
  }

  50% {
    background: transparent;
  }
}

ol {
  padding-top: 12px;
}

.container {
  width: 100%;
  .row {
    padding: 10px;
  }
  .submit {
    padding-left: 21px;
  }
}

.footer {
  opacity: 0;
  padding: 7px;
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 9px;
  line-height: 1.5em;
  &.active {
    opacity: 0.5;
  }
}

section {
  &:not(:first-child) {
    padding-top: 12px;
  }
}


@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

  .navbar {
    padding-left: 10px;
    .col-sm-2 {
      padding-right: 5px;
    }
  }

  .container {
    .submit {
      padding-left: 17px;
    }
  }
}
