<div class='navbar row'>
  <span class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">
    <span class="col-sm-2 col-sm-offset-1 col-md-2 col-md-offset-1">
      <a data-react-copy='about'>about</a>
    </span>
    <span class="col-sm-2 col-md-2">
      <a data-react-copy='resume'>resume</a>
    </span>
    <span class="col-sm-2 col-md-2">
      <a data-react-copy='code'>code</a>
    </span>
    <span class="col-sm-2 col-md-2">
      <a data-react-copy='k12'>k-12</a>
    </span>
    <span class="col-sm-2 col-md-2">
      <a data-react-copy='contact'>contact</a>
    </span>
  </span>
</div>
