<div class='navbar row'>
  <span class="col-sm-2 col-sm-offset-3 col-md-2 col-md-offset-3">
    <a data-react-copy='me'>me</a>
  </span>
  <span class="col-sm-2 col-md-2">
    <a data-react-copy='resume'>work</a>
  </span>
  <span class="col-sm-2 col-md-2">
    <a data-react-copy='contact'>contact</a>
  </span>
</div>
